In [1]:
import pandas as pd

In [2]:
# read csv data
df = pd.read_csv('results/top_contribuyentes.csv')

In [3]:
# 0. Drop Unnamed column and index DF column
df = df.drop('Unnamed: 0', axis=1)

#### More cleaning

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RUC                    4000 non-null   float64
 1   NOMBRE O RAZON SOCIAL  4500 non-null   object
 2   APORTE TOTAL(mm)       4500 non-null   int64
 3   ANHO                   4500 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 140.8+ KB

In [5]:
# replace NaN values on column RUC with 0
df['RUC'] = df['RUC'].fillna(0)
# parse RUC column to int and then to string
df['RUC'] = df['RUC'].astype(int).astype(str)
# parse ANHO column to int
df['ANHO'] = df['ANHO'].astype(int)

In [6]:
# order DF by APORTE TOTAL(mm) per every year
df = df.sort_values(by=['ANHO', 'APORTE TOTAL(mm)'], ascending=False)
# add a new column with the position of the contributor per year
df['POSICION'] = df.groupby('ANHO').cumcount() + 1
df.head(20)

         RUC NOMBRE O RAZON SOCIAL  APORTE TOTAL(mm)  ANHO  POSICION
0   80009735  ADMINISTRACION NACIO            336481  2021         1
1   80008790  TABACALERA DEL ESTE             198331  2021         2
2   80002201  BANCO ITAU PARAGUAY             174807  2021         3
3   80003400  PARAGUAY REFRESCOS S            147677  2021         4
4   80086846         CERVEPAR S.A.            146989  2021         5
5   80019270  BANCO CONTINENTAL SA            142276  2021         6
6   80000856  BANCO NACIONAL DE FO            139376  2021         7
7   80009310  VISION BANCO S.A.E.C             93627  2021         8
8   80034461  SUDAMERIS BANK SAECA             92594  2021         9
9   80003457  CERVECERIA PARAGUAYA             85477  2021        10
10  80000519  TELEF. CELULAR DEL P             84449  2021        11
11  80020981  BANCO REGIONAL S.A.E             81034  2021        12
12  80022955  BANCO GNB S.A. (EN P             75402  2021        13
13  80022570  BANCO FAMILIAR SAECA             75275  2021        14
14  80062796  SERVICIOS Y PRODUCTO             75003  2021        15
15  80034565  INPASA DEL PARAGUAY              74307  2021        16
16  80017437             NUCLEO SA             59792  2021        17
17  80007801  AGRO SILO SANTA CATA             57803  2021        18
18  80044227  BANCO GNB  PARAGUAY              55818  2021        19
19  80001757              NOVEX SA             54198  2021        20

#### Ya que esta ordenado y con su posicion, solamente buscamos los que quedaron en el top 10

In [7]:
# Find the top 10 contributors per year
df_top10 = df[df['POSICION'] <= 10]
df_top10.head(25)

           RUC NOMBRE O RAZON SOCIAL  APORTE TOTAL(mm)  ANHO  POSICION
0     80009735  ADMINISTRACION NACIO            336481  2021         1
1     80008790  TABACALERA DEL ESTE             198331  2021         2
2     80002201  BANCO ITAU PARAGUAY             174807  2021         3
3     80003400  PARAGUAY REFRESCOS S            147677  2021         4
4     80086846         CERVEPAR S.A.            146989  2021         5
5     80019270  BANCO CONTINENTAL SA            142276  2021         6
6     80000856  BANCO NACIONAL DE FO            139376  2021         7
7     80009310  VISION BANCO S.A.E.C             93627  2021         8
8     80034461  SUDAMERIS BANK SAECA             92594  2021         9
9     80003457  CERVECERIA PARAGUAYA             85477  2021        10
500          0  ADMINISTRACION NACIO            407807  2020         1
501          0  TABACALERA DEL ESTE             242106  2020         2
502          0  BANCO ITAU PARAGUAY             201577  2020         3
503          0  BANCO NACIONAL DE FO            157473  2020         4
504          0         CERVEPAR S.A.            154792  2020         5
505          0  PARAGUAY REFRESCOS S            134907  2020         6
506          0  VISION BANCO S.A.E.C            127473  2020         7
507          0  BANCO CONTINENTAL SA            116553  2020         8
508          0  CERVECERIA PARAGUAYA            100408  2020         9
509          0  BANCO REGIONAL S.A.E             99812  2020        10
1000  80009735  ADMINISTRACION NACIO            648882  2019         1
1001  80008790  TABACALERA DEL ESTE             344418  2019         2
1002  80002201  BANCO ITAU PARAGUAY             229003  2019         3
1003  80086846         CERVEPAR S.A.            228532  2019         4
1004  80003400  PARAGUAY REFRESCOS S            153558  2019         5

In [8]:
df_top10.tail(20)

           RUC NOMBRE O RAZON SOCIAL  APORTE TOTAL(mm)  ANHO  POSICION
3500  80003457  CERVECERIA PARAGUAYA            286676  2014         1
3501  80009735  ADMINISTRACION NACIO            229278  2014         2
3502  80008790  TABACALERA DEL ESTE             225700  2014         3
3503  80000519  TELEF. CELULAR DEL P            223909  2014         4
3504  80002201  BANCO ITAU PARAGUAY             127110  2014         5
3505  80019270  BANCO CONTINENTAL SA            109687  2014         6
3506  80003400  PARAGUAY REFRESCOS S            106160  2014         7
3507  80021825  BRASFUMO DEL PARAGUA             86768  2014         8
3508  80016096           RETAIL S.A.             83937  2014         9
3509  80007801  AGRO SILO SANTA CATA             82765  2014        10
4000  80003457  CERVECERIA PARAGUAYA            311034  2013         1
4001  80000519  TELEF. CELULAR DEL P            281595  2013         2
4002  80008790  TABACALERA DEL ESTE             204062  2013         3
4003  80009735  ADMINISTRACION NACIO            143315  2013         4
4004  80002201  BANCO ITAU PARAGUAY             106383  2013         5
4005  80021825  BRASFUMO DEL PARAGUA             79907  2013         6
4006  80003400  PARAGUAY REFRESCOS S             78491  2013         7
4007  80019270  BANCO CONTINENTAL SA             75595  2013         8
4008  80016096           RETAIL S.A.             60929  2013         9
4009  80020981  BANCO REGIONAL S.A.E             50728  2013        10

# Encontrar cuantos son Personas Fisicas y cuantos son Personas Juridicas

### Buscar en base al Nro de RUC

In [9]:
# DF con todos los valores distintos de la columna RUC que empiecen con 8
df_top10_ruc = df[df['RUC'].str.startswith('8')]
df_top10_ruc.head()

        RUC NOMBRE O RAZON SOCIAL  APORTE TOTAL(mm)  ANHO  POSICION
0  80009735  ADMINISTRACION NACIO            336481  2021         1
1  80008790  TABACALERA DEL ESTE             198331  2021         2
2  80002201  BANCO ITAU PARAGUAY             174807  2021         3
3  80003400  PARAGUAY REFRESCOS S            147677  2021         4
4  80086846         CERVEPAR S.A.            146989  2021         5

In [10]:
# DF con todos los valores distintos de la columna RUC que no empiecen con 8
df_top10_no_ruc = df[~df['RUC'].str.startswith('8')]

In [11]:
# Crear una columna con F o J dependiendo de si el RUC

## Con excel, rellenar datos faltantes RUC